@model IEnumerable<ControlEscolar.Models.TblGrupoProfAlumno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FidAlumnoNavigation.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FidGrupoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FidProfesorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FidAlumnoNavigation.Nombre)
                    @Html.DisplayFor(modelItem => item.FidAlumnoNavigation.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FidGrupoNavigation.NombreGrupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FidProfesorNavigation.Nombre)
                    @Html.DisplayFor(modelItem => item.FidProfesorNavigation.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGrupoProfAlumno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdGrupoProfAlumno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGrupoProfAlumno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
