@model ControlEscolar.Models.TblCicloGrupoMaterium

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblCicloGrupoMaterium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FidCicloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FidCicloNavigation.IdCiclo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FidGrupoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FidGrupoNavigation.IdGrupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FidMateriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FidMateriaNavigation.IdMateria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCicloxGrupoxMateria">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
