@model IEnumerable<ControlEscolar.Models.TblCiclo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCiclo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CveCiclo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCiclo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CveCiclo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCiclo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCiclo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCiclo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
